<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <springProperty name="projectName" source="ssp.app.name"/>
    <springProperty name="projectTimeZone" source="ssp.app.time-zone"/>
    <springProperty name="destination" source="fluentd.destination"/>
    
    <property name="logtype" value="waslog" />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                 %d{yyyy-MM-dd HH:mm:ss, ${projectTimeZone}} [%thread] %-5level %logger{36} - %msg %n
            </Pattern>
        </layout>
    </appender>

	<springProfile name="dev, prod">
	    <appender name="fluentd" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
	        <destination>${destination}:24224</destination>
	
	        <!-- encoder is required -->
	        <encoder
	            class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
	            <providers>
	                <pattern><pattern>
	                    {
	                    "date":"%date{ISO8601, ${projectTimeZone}}",
	                    "level": "%level",
	                    "logtype": "${logtype}",
	                    "project": "${projectName}",
	                    "pid": "${PID:-}",
	                    "thread": "%thread",
	                    "class": "%logger{36}",
	                    "message": "%message"
	                    }
	                </pattern></pattern>
	                <stackTrace/>
	            </providers>
	        </encoder>
	
	    </appender>
	</springProfile>
	
    <logger name="com.lotte" level="DEBUG" additivity="false">
        <appender-ref ref="stdout" />
        <springProfile name="dev, prod">
        	<appender-ref ref="fluentd" />
        </springProfile>
    </logger>

    <logger name="xyz.pentaworks" level="DEBUG" additivity="false">
        <appender-ref ref="stdout" />
        <springProfile name="dev, prod">
        	<appender-ref ref="fluentd" />
        </springProfile>
    </logger>


    <root level="INFO">
        <appender-ref ref="stdout" />
        <springProfile name="dev, prod">
        	<appender-ref ref="fluentd" />
        </springProfile>

    </root>

</configuration>